@viewport {
  width: device-width;
}

.fillWindow {
  max-height: 100vh;
  overflow: hidden;
}

.deckTable {
  height: 80vh;
}

.horizontalScroll {
  overflow-x: scroll;
}

.playerHands {
  height: 30vh;
  overflow: auto;
}

.cardContainer {
  width: 52px;
  height: 91px;
  border: 1px solid black;
}

.cardContent {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.messageLog {
  height: 15vh;
  overflow: auto;
}

.actions {
  height: 8vh;
  overflow: hidden;
}

.gameStateStatus {
  width: 100%;
  text-align: center;
}

.playerStatus {
  width: 100%;
  text-align: center;
  display: flex;
}

/* descendent selector */
.playerStatus > *{
  flex-grow: 1;
}
