@viewport {
  width: device-width;
}

.horizontalScroll {
  overflow-x: scroll;
}

.card {
  width: 30%;
}

.gameStateStatus {
  width: 100%;
  text-align: center;
}

.playerStatus {
  width: 100%;
  text-align: center;
  display: flex;
}

/* descendent selector */
.playerStatus > *{
  flex-grow: 1;
}
