@viewport {
  width: device-width;
}

.horizontalScroll {
  overflow-x: scroll;
}

.cardContainer {
  width: 52px;
  height: 91px;
  border: 1px solid black;
}

.cardContent {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.gameStateStatus {
  width: 100%;
  text-align: center;
}

.playerStatus {
  width: 100%;
  text-align: center;
  display: flex;
}

/* descendent selector */
.playerStatus > *{
  flex-grow: 1;
}
